@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
html {
  margin: 0;
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -69;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin: 0;
  font-size: 50px;
}

#maincontentcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#maincontent {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

#bottombar {
  height: 100px;
  display: flex;
}

#swiper {
  width: 80vw;
  margin: 30px;
  max-width: 1000px;
  transition-duration: 300ms;
}

#swiper:hover {
  transform: scale(1.05);
}

.swiper-slide {
  background-color: #222222;
  width: 80vw;
  aspect-ratio: 16/9;
  border-radius: 10px;
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
}

.swiper-slide>p {
  background-color: #222222;
  border-radius: 10px;
  padding: 20px;
  transition-duration: 300ms;
}

#swiper:hover .swiper-slide>p {
  padding: 5px;
  background-color: #2222228a;
  transform: translate(0, 10px);
}

#bottombar>button {
  flex-grow: 1;
  font-size: 30px;
  background-color: transparent;
  color: white;
  border: 0;
  cursor: pointer;
  transition-duration: 300ms;
}

#bottombar>button:hover {
  transform: scale(1.3);
}